<mat-card>
  <mat-horizontal-stepper labelPosition="bottom" [selectedIndex]="selectedIndex" [linear] = "isLinear" #stepper>
    <mat-step [completed]="personalDetails" [stepControl]="personalDetails">
      <ng-template matStepLabel>Personal Details</ng-template>
      <app-personal-details></app-personal-details>
    </mat-step>
    <mat-step [completed]="addressForm" [stepControl]="addressForm">
      <ng-template matStepLabel>{{addressForm}}</ng-template>
      <app-correspondence-address></app-correspondence-address>
    </mat-step>
    <mat-step [completed] = "uploadDoc" [stepControl]="uploadDoc">
      <ng-template matStepLabel >Upload Documents</ng-template>
      <app-upload-docs></app-upload-docs>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
