<form [formGroup]="personalDetailForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Personal Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-error *ngIf="personalDetailForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-error *ngIf="personalDetailForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Fathers name" formControlName="fathersName"></textarea>
            <mat-error *ngIf="personalDetailForm.controls['fathersName'].hasError('required')">
              Father's Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Mothers name" formControlName="mothersName"></textarea>
            <mat-error *ngIf="personalDetailForm.controls['mothersName'].hasError('required')">
              Mother's name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="College name" formControlName="college"></textarea>
            <mat-error *ngIf="personalDetailForm.controls['college'].hasError('required')">
              College Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Enter your skills" formControlName="skills"></textarea>
            <mat-error *ngIf="personalDetailForm.controls['skills'].hasError('required')">
              Skills are <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-radio-button value="Cannot Say">Cannot say</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button style="background-color: #880e4f; color: #fff; font-weight: bold;" type="submit" mat-button matStepperNext>Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
