.crate-btn {
  margin: 20px;
  /* width: 80%; */
  height: 200px;
  background-color: #cc87ac;
  display: flex;
  align-items: center;
  justify-items: center;
}

button {
  align-self: center;
  margin: auto;
  /* height: 100px; */
  padding: 2.5% 5%;
  background-color: #880e4f;
  color: #fff;
}
